@media (min-aspect-ratio: 16/9) {
    .theme-toggle {
        height: 7.5svh;
        margin: 0 1.75svh 0 0;
    }

    .main {
        padding: 0 20svw 0 20svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-16x9);
    }

    p, summary, li::marker, button, a, table, input, select, label, span {
        font-size: var(--medium-16x9);
    }
}