@media (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {
    .theme-toggle {
        height: 6.25svh;
        margin: 0 2.375svh 0 0;
    }

    .main {
        padding: 0 10svw 0 10svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-4x3);
    }
    
    p, summary, li::marker, button, a, table, input, select, label, span {
        font-size: var(--medium-4x3);
    }
}