@media (max-aspect-ratio: 9/16) {
    .theme-toggle {
        height: 5svh;
        margin: 0 3svh 0 0;
    }
    
    .main {
        padding: 0 2.5svw 0 2.5svw;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: var(--large-9x16);
    }
    
    p, summary, li::marker, button, a, table, input, select, label, span {
        font-size: var(--medium-9x16);
    }
} 