:root {
    --large-9x16: calc(1rem + 9/16 * 1svh + 1svw);
    --medium-9x16: calc(1rem + 9/16 * 0.5svh + 0.5svw);

    --large-4x3: calc(1rem + 4/3 * 1svh + 1svw);
    --medium-4x3: calc(1rem + 4/3 * 0.5svh + 0.5svw);
    
    --large-16x9: calc(1rem + 16/9 * 1svh + 1svw);
    --medium-16x9: calc(1rem + 16/9 * 0.5svh + 0.5svw);

    --blue: #0099ff;
    --purple: #ff66ff;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    shape-rendering: geometricPrecision;
}

*::selection {
    background-color: var(--blue);
    color: #fff;
}

html {
    background-color: #000;
    overflow-x: hidden;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    font-size: 10px;
}

body {
    font-family: var(--pt-serif);
}

header {
    height: 10svh;
    display: grid;
    align-items: center;
    justify-items: center;
    background-color: #000;
}

.logo-0, .logo-1, .logo-link {
    height: 7.5svh;
    position: absolute;
    transform: translateX(-50%);
    transition: 0.5s opacity cubic-bezier(0.455, 0.05, 0.515, 0.955);
}

.logo-0 {
    z-index: 1;
}

.logo-0:hover ~ .logo-1, 
.logo-link:focus > .logo-1 {
    opacity: 0;
}

.logo-0:hover,
.logo-link:focus > .logo-0 {
    opacity: 1;
}

.theme-toggle {
    justify-self: end;
    background-color: #000;
    color: #fff;
}

.theme-toggle svg {
    width: 100%;
    height: 100%;
}

hr {
    background-color: #fff;
    height: 1px;
}

main {
    background-color: #fff;
    color: #000;
    min-height: 80svh;
    padding: 1svh 0 1svh 0;
}

html[data-theme='dark'] main {
    background-color: #000;
    color: #fff
}


summary {
    cursor: pointer;
}

summary:hover {
    text-decoration: underline;
}

ol, ul {
    padding: 0 0 0 5svw;
}

.lower-latin {
    list-style-type: lower-latin;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--purple);
}

h1, h2, h3, h4, h5, h6 {
    font-style: italic;
    font-weight: 400;
}

p, table {
    margin: 0 0 2.5svh;
}

table, td {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
    border: 1px solid #000;
    border-collapse: collapse;
    text-align: center;
}

html[data-theme='dark'] td {
    border-color: #fff;
}

.form-container {
    transition: all 0.3s ease;
}

.form-container select,
.form-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.button button:hover {
    background-color: #ffffff;
}

.button {
    display: grid;
    justify-items: end;
}

button {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    padding: 0.5svh 0.25svw 0.5svh 0.25svw;
    cursor: pointer;
    border-radius: 1svh;
}

html[data-theme='dark'] .button button {
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
}

.button button:hover,
.button button:focus {
    background-color: #000;
    color: #fff;	
}

html[data-theme='dark'] .button button:hover,
html[data-theme='dark'] .button button:focus {
    background-color: #fff;
    color: #000;	
}

.button button:disabled {
    background-color: #fff;
    color: #000;
    cursor: default;
}

html[data-theme='dark'] .button button:disabled {
    background-color: #000;
    color: #fff;
}

footer {
    height: 10svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #000;
}